<section>
  <div class="Main-st Section2 ">
      <div class="Upper-Section">
          <p  class="Large-Text">About Myself</p>
          <p class="Small-Text">Hey there! 🎵 I'm AKKA SMP, and I'm all about creating musical magic. 🎶 Whether it's through the power of lyrics, captivating melodies, or the sheer energy of live performance, music is my language, and I'm here to share my story with the world.
  
              My sound is a fusion of Soul music, infused with Harmony that resonate deep within me. I believe that music has the incredible ability to touch hearts, spark emotions, and connect people from all walks of life. It's not just about the notes; it's about the stories we tell and the emotions we evoke.
              
              Over the years, I've poured my heart and soul into my craft, honing my skills, and pushing the boundaries of what's possible. From Being a Rapper, I've grown as an artist and developed a sound that's uniquely mine.
              
              When I'm not in the studio, you can catch me in gym, and I'm constantly seeking inspiration from A. R. Rahman , Arijit Singh.
              
              I'm thrilled to have you on this journey with me. Let's connect, share some beats, and create unforgettable musical moments together. Stay tuned for updates on my latest projects, upcoming shows, and behind-the-scenes glimpses into my creative process.
              
              Feel the rhythm, embrace the melody, and let's make music that moves us. 🎤🎸🎹
              
              Stay groovy,
              AKKA SMP
              </p>
      </div>
      <div class="Lower-Section">
      <img src="assets/img/Akka.jpg" alt="">
      </div>
  </div>
</section>


<div class="s">Gallery And Quotes</div>

<div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active Text-Middle">
            <img style=" height: 800px; width: 55%;  box-shadow: 10px 10px 10px 10px rgb(73, 73, 73);" src="assets/img/2.jpg"  alt="...">

          </div>
          <div class="carousel-item Text-Middle">
            <img style=" height: 800px; width: 55%;  box-shadow: 10px 10px 10px 10px rgb(195, 126, 227);" src="assets/img/1.jpg"  alt="...">
          </div>
          <div class="carousel-item Text-Middle">
            <img style=" height: 800px; width: 55%;  box-shadow: 10px 10px 10px 10px rgb(40, 40, 40);" src="assets/img/3.jpg"  alt="...">
          </div>
          <div class="carousel-item Text-Middle">
            <img style=" height: 800px; width: 55%;  box-shadow: 10px 10px 10px 10px rgb(40, 40, 40);" src="assets/img/4.jpg"  alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>