<section class="Contact-Page" id="Contact-Us">
    <h2 class="Text-Middle">Get in Touch With Us</h2>
    <div class="Details">
        <form  name="myform" onsubmit="return(validation());">
       <input class="Details-input" type="text"  name="Name" placeholder="Name">
        <span id="name" class="error"></span>
        <input class="Details-input" type="number"  name="Phone" placeholder="Contact No.">
        <span id="phone" class="error"></span>
        <input class="Details-input" type="email"  name="Email" placeholder="Email I.D.">
        <span id="email" class="error"></span>
        <textarea class="Details-input" name="text" id="Text-Area" cols="30"
            rows="10">Ask your doubt or query</textarea>
        <input type="submit" class="Button1 Btn-Form">
    </form>
    </div>



</section>