<section class="Section1" id="About-Us">
    <div class="Main-st">
        <div class="Upper-Section">
            <p class="Large-Text"> This is all about music </p>
            <p class="Small-Text">Step into a world where melodies resonate, rhythms groove, and emotions find their
                voice. AKKALOK is your go-to hub for all things music, where we explore genres, artists, and musical
                stories that resonate across time and cultures.</p>
            <div class="Buttons">
                <a href="https://www.youtube.com/@AKKALOK/featured">
                    <button class="Button1">Subscriber</button>
                </a>
                <a href="https://www.youtube.com/@AKKALOK/videos">
                    <button class="Button1">Watch My Tracks</button>
                </a>
  
            </div>
        </div>
        <div class="Lower-Section">
            <img src="https://yt3.googleusercontent.com/ytc/AOPolaQ2eqPNZCpVqa7rmrPq0t1dU-caX14Yczsyl0Pu=s176-c-k-c0x00ffffff-no-rj"
                alt="Image Not Loaded">
        </div>
    </div>
  </section>
  
  <div class="a"> My Creations</div>
  <section class="Section" id="Services">

    <div class="Section2div">

        <p class="Sec1 Large-Text">Explicit Veracity</p>
        <p class="Sec2 Small-Text">
            <br>
            Track - Explicit Veracity
            <br>
            <br>
            Lyrics/Music/Composer/Mix & Master - AKKA SINGH
            <br>
            <br>
            Album- Still Alive
            <br>
            <br>
            Lyrical video-AKKA SINGH
        </p>
    </div>
    <div class="Thumb1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZsEwQ2yBa8M?si=9yLzbhCQDsSZ1zPG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
<hr>
<section class="Section Move-Left">
    <div class="Section2div">
        <p class="Sec1 Large-Text">Shikha De Mujhe</p>
        <p class="Sec2 Small-Text">
            <br>
            Sky Production & AKKALOK Presents
Shikha De Mujhe (Official Music Video)
<br>
<br>
Track : Shikha De Mujhe
<br>
<br>
Artist , Music & Lyrics : AKKA SINGH
<br>
<br>
Album : Still Alive
<br>
<br>
Mix & Master : AKKA SINGH
<br>
<br>
Film By : Kapil Sky
<br>
<br>
Special Thanks : Nischay Srivastava 
                              Aarav Sharma 
                              Hritik Seth 
                              Anubhav Chaurasiya
        </p>
    </div>
    <div class="Thumb1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cBovR02LtgA?si=vdi2TyYHNTAPEd7B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
<hr>
<section class="Section">
    <div class="Section2div">
        <p class="Sec1 Large-Text">Beat Producer</p>
        <p class="Sec2 Small-Text">
            Sky Production & AKKALOK Presents
            <br>
            <br>
UNTIL DIE (Official Music Video)
<br>
<br>
Track : Until Die
<br>
<br>
Artist , Music & Lyrics : AKKA S.M.P 
<br>
<br>
Album : Still Alive
<br>
<br>
Film By : Kapil Sky
<br>
<br>
Team : Apoorv Gupta & Harsh Purwar
        </p>
    </div>
    <div class="Thumb1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nDWhXpMv-vo?si=njzgvub9JMW0C54Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
