* {
    margin: 0%;
    padding: 0%;

}

.Thumb1{
    box-shadow: 13px 13px 13px 13px black;
}

.a{
    text-align: center;
    font-size: 45px;
    background-color: bisque;
    color: #e4405f;
}

.a:hover{
    background-color: bisque;
}

.Intro{
margin: 10px;
}

.Service-Provider {
    text-align: center;
    margin: 23px;
    font-size: 25px;
}

.Mylogo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mylogo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.Navigation {
    display: flex;
    background-color: gray;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    cursor: pointer;
}

.Navigation-List {
    width: 70%;
    display: flex;
    align-items: center;
}

.Navigation-List li {
    list-style: none;
    padding: 26px 30px;
}

.Navigation-List li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.Navigation-List li a:hover {
    text-decoration: none;
    color: rgb(232, 183, 183);
}

#Search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
}

.Navigation-Right {
    width: 30%;
    text-align: right;
    margin: 45px;
}

.Background-Upper{
background-color: rgba(230, 235, 221, 0.517);
background-size: cover;

}

.Section1 {
    height: 50vh;
}

.Section2 {
    height: 100vh;
}

.Main-st {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(11, 232, 199);
    max-width: 50%;
    margin: auto;
    height: 50%;
}

.Upper-Section {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}





.Lower-Section {
    width: 30%;
}



.Lower-Section img {
    width: 70%;
    border: 4px solid rgb(35, 228, 209);
    border-radius: 150px;
    display: block;
    margin: auto;
}



.Large-Text {

    font-size: 41px;
    margin: 10px;
}

.Small-Text {
    font-size: 18px;
    margin: 15px;
}

.Button1 {
    padding: 8px 20px;
    margin: 0px 15px;
    border: 2px solid  rgb(232, 155, 11);;
    border-radius: 8px;
    background: none;
   color: rgb(232, 155, 11);
    cursor: pointer;
}

.Button1:hover{
    background-color: aqua;
}

.Small-Button {
    padding: 5px 10px;
    vertical-align: middle;
}

.Section {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}

.Section2div {
    padding: 0px 65px;
}

.Move-Left {
    flex-direction: row-reverse;
}

.Imgthumb {
    border: 5px solid black;
    border-radius: 26px;
}

.Sec1 {
    padding: 15px 0;
}

.Contact-Page {
    background-color: aliceblue;
    height: 833px;
}

.Text-Middle {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.Details {
    max-width: 1200px;
    margin: 25px auto;
}

.Details-input {
    width: 100%;
    padding: 5px 3px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 25px 0;
}

.Btn-Form {
    border: 2px solid black;
    padding: 15px;
}

.Footer-Stuff {
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.Background {
    background-color: bisque;
}

.Three-Lines {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.Horizontal-Rule {
    width: 500%;
    background-color: white;
    height: 4px;
    margin: 5px 3px;

}

.fa {
    text-align: center;
    padding: 10px 5px;
    width: 50px;
    justify-content: center;
}

.fa-facebook {
    background: #3B5998;
    border: 5px solid black;
    border-radius: 50%;
    margin-right: 25px;
    margin-bottom: 10px;
    color: white;
}


.fa-instagram {
    background: #e4405f;
    border: 5px solid black;
    border-radius: 50%;
    color: white;
}

.Social-Media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
}

.error{
    color: red;
}

@media only screen and (max-width:1140px) {
    .Navigation-List {
        flex-direction: column;
    }

    .Navigation {
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 550px;
    }

    .Navigation-Right {
        text-align: center;
    }

    #Search {
        width: 100%;
    }

    .Three-Lines {
        display: block;
    }

    .Navigation-Height {
        height: 72px;
    }

    .Visiblity {
        opacity: 0;
    }

    .Main-st {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .Section {
        flex-direction: column-reverse;
    }

    .Large-Text {
        text-align: center;
    }

    .Small-Text {
        text-align: center;
    }

    .Button1 {
        text-align: center;
    }

    .Introduction {
        flex-direction: column-reverse;

    }
    @media  screen and (max-height:1130px) {
        .Section2 {
           
          height: 150vh;
         
        }
        .Section1 {
            height: 81vh;
        }
        
    }
}